<div class="overwatch">
  <!-- Software -->
  <div class="__block">
    <div id="software" class="__image"></div>

    <!-- <div class="__header">
      <h3>Hello</h3>
    </div> -->
    <div class="__content">
      <img id="icon" src="../../assets/tracer.png"/>
      <h3 id="header">Lorem ipsum</h3>
      <div class="__desc">
        Lorem ipsum
      </div>
    </div>
  </div>

  <!-- Film -->
  <div class="__block">
    <div id="film" class="__image"></div>

    <div class="__content">
      <img id="icon" src="../../assets/tracer.png"/>
      <h3 id="header">Lorem ipsum</h3>
      <div class="__desc">
        Lorem ipsum
      </div>
    </div>
  </div>

  <!-- Anal -->
  <div class="__block">
    <div id="journANALism" class="__image"></div>

    <div class="__content">
      <img id="icon" src="../../assets/tracer.png"/>
      <h3 id="header">Lorem ipsum</h3>
      <div class="__desc">
        Lorem ipsum
      </div>
    </div>
  </div>
</div>
